<h1>Checkout</h1>

{{#if showError}}
<section>
  <h3>Error!</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eligendi officia odit obcaecati recusandae saepe pariatur eaque minima ipsum odio, aliquam error repudiandae reprehenderit, ullam soluta doloremque quisquam possimus mollitia.</p>
</section>
{{/if}}

<form class="checkoutform" action="/checkout" method="POST">
  <label>
    Name
    <input placeholder="Name" name="firstname">
  </label>
  <label>
    Address
    <input placeholder="Address" name="address" required="true">
  </label>
  <label>
    Type
    <select name="type">
      <option>Visa</option>
      <option>MasterCard</option>
    </select>
  </label>
  <label>
    Age (optional)
    <input placeholder="Age" name="age" type="number">
  </label>


  <input name="products" type="hidden" class="checkoutform__products">

    <a href="/confirmation">
        <button >Send</button>
    </a>
</form>

<script src="/scripts/checkout.js"></script>